<!-- Fixed navbar -->
<div class="navbar-inverse navbar-static-top" id="nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-align-justify"></i>
            </button>
            <a class="navbar-brand" href={{ path('homepage') }}>
                <h4 class="fa fa-beer"> GDENAPIVO</h4>
                <span class="divider"></span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav social hidden-xs hidden-sm">
                <li><a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa-lg fa-fw"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest fa-lg fa-fw"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin fa-lg fa-fw"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">pubs</a></li>
                <li><a href="">beers</a></li>
                <li><a href="#contact">contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!--/.container -->
</div>
<!--/.navbar -->