<div class="container">
    <div class="col-xs-12 hidden-lg hidden-md pubHeading" align="center">
        <span class="divider"></span>
        <a class="beers">
            <div class="col-xs-4">
                <i class="fa fa-beer fa-3x">
                </i>
            </div>
        </a>

        <a class="pubs">
            <div class="col-xs-4">
                <i class="fa fa-picture-o fa-3x">
                </i>
            </div>
        </a>
        <a class="reviews">
            <div class="col-xs-4">
                <i class="fa fa-comments-o fa-3x"></i>
            </div>
        </a>
        <br>
    </div>
</div>