<!-- Fixed navbar -->
<div class="navbar-inverse navbar-static-top" data-spy="affix" data-offset-top="197" id="nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-align-justify"></i>
            </button>
            <a class="navbar-brand" href={{ path('homepage') }}>
                <h4 class="fa fa-beer"> GDENAPIVO</h4>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav social hidden-xs hidden-sm">
                <li><a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa-lg fa-fw"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest fa-lg fa-fw"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin fa-lg fa-fw"></i></a></li>
            </ul>
            {% if user %}
                <ul class="nav social navbar-nav navbar-right">
                    <li><a href="#"><i>pubs</i></a></li>
                    <li><a href="#"><i>beers</i></a></li>
                    <li><a href="#contact"><i>contact</i></a></li>
                        <li class="dropdown">
                            <a data-toggle="dropdown"><i>{{ user.username }}</i>
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href={{ path('logout') }}>logout</a></li>
                                <li><a href="#">CSS</a></li>
                            </ul>
                        </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i>pubs</i></a></li>
                    <li><a href="#"><i>beers</i></a></li>
                    <li><a href="#contact"><i>contact</i></a></li>
                    <li><a href="#" data-toggle="modal" data-target="#logInModal"><i>log in</i></a></li>
                    <li><a href="#" data-toggle="modal" data-target="#signUpModal"><i>sign up</i></a></li>
                </ul>
            {% endif %}

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!--/.container -->
    {% include 'AppBundle:Modal:loginmodal.html.twig' %}
    {% include 'AppBundle:Modal:signupmodal.html.twig' %}
</div>
<!--/.navbar -->