<div class="pre-loader" xmlns="http://www.w3.org/1999/html">
    <div class="load-con">
        <img src="{{ asset('bundles/app/img/logo2.png') }}"  class="animated fadeInDown" alt="">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>