<div class="container">
        <div class="text-center">
            <h3>{{ pub.name }} Gallery</h3>
        </div>
            {% for image in images %}
                {%  if loop.index0 % 3 == 0 %} <div class="row col-md-12"> {% endif %}
            <div class="col-md-4">
                <div class="well">
                    {% media image, 'big' with{ 'class':'thumbnail img-responsive'}  %}
                </div>
            </div>
            {%  if loop.index0 % 3 == 2 or loop.last %} </div> {% endif %}
            {% endfor %}
</div>