            <div class="btn-group col-md-12 big-title  visible-md visible-lg" role="group">
                <select class="form-control selectpicker" data-live-search="true" title="Search...">
                </select>
            </div>

            <div class="btn-group big-title1 col-md-12 hidden" role="group" aria-label="...">
                <div class="col-md-4  visible-md visible-lg" role="group">
                    <select class="selectpicker form-control" data-live-search="true" data-size="5" title="Search district...">
                        <option data-tokens="lav stela jelen">Zvezdara</option>
                        <option data-tokens="kabinet">Vracar</option>
                        <option data-tokens="paulaner">Palilula</option>
                    </select>
                </div>
                <div class="col-md-4 visible-md visible-lg" role="group">
                    <select class="selectpicker form-control" data-live-search="true" data-size="5" title="Search beers...">
                        <option data-tokens="lav stela jelen">Zvezdara</option>
                        <option data-tokens="kabinet">Vracar</option>
                        <option data-tokens="paulaner">Palilula</option>
                    </select>
                </div>
                <div class="col-md-4  visible-md visible-lg" role="group">
                    <select class="selectpicker form-control" data-live-search="true" data-size="5" title="Search pubs...">
                        <option data-tokens="lav stela jelen">Zvezdara</option>
                        <option data-tokens="kabinet lav stela">Vracar</option>
                        <option data-tokens="paulaner">Palilula</option>
                        <option data-tokens="lav stela jelen">Zvezdara</option>
                        <option data-tokens="kabinet lav stela">Vracar</option>
                        <option data-tokens="paulaner">Palilula</option>
                        <option data-tokens="lav stela jelen">Zvezdara</option>
                        <option data-tokens="kabinet lav stela">Vracar</option>
                        <option data-tokens="paulaner">Palilula</option>
                        <option data-tokens="lav stela jelen">Zvezdara</option>
                        <option data-tokens="kabinet lav stela">Vracar</option>
                        <option data-tokens="paulaner">Palilula</option>
                        <option data-tokens="lav stela jelen">Zvezdara</option>
                        <option data-tokens="kabinet lav stela">Vracar</option>
                        <option data-tokens="paulaner">Palilula</option>
                    </select>
                </div>
            </div>

            <div class="btn-group btn-group-justified " role="group" aria-label="...">
                <div class="col-xs-12 visible-sm visible-xs" role="group">
                                <select class="selectpicker form-control" data-live-search="true">
                                    <option data-tokens="lav stela jelen">Zvezdara</option>
                                    <option data-tokens="kabinet">Vracar</option>
                                    <option data-tokens="paulaner">Palilula</option>
                                </select>
                </div>
                <div class="col-xs-12 visible-sm visible-xs" role="group">
                    <select class="selectpicker form-control" data-live-search="true">
                        <option data-tokens="lav stela jelen">Zvezdara</option>
                        <option data-tokens="kabinet">Vracar</option>
                        <option data-tokens="paulaner">Palilula</option>
                    </select>
                </div>
                <div class="col-xs-12 visible-sm visible-xs" role="group">
                    <select class="selectpicker form-control" data-live-search="true" data-size="5">
                        <option data-tokens="lav stela jelen">Zvezdara</option>
                        <option data-tokens="kabinet lav stela">Vracar</option>
                        <option data-tokens="paulaner">Palilula</option>
                        <option data-tokens="lav stela jelen">Zvezdara</option>
                        <option data-tokens="kabinet lav stela">Vracar</option>
                        <option data-tokens="paulaner">Palilula</option>
                        <option data-tokens="lav stela jelen">Zvezdara</option>
                        <option data-tokens="kabinet lav stela">Vracar</option>
                        <option data-tokens="paulaner">Palilula</option>
                        <option data-tokens="lav stela jelen">Zvezdara</option>
                        <option data-tokens="kabinet lav stela">Vracar</option>
                        <option data-tokens="paulaner">Palilula</option>
                        <option data-tokens="lav stela jelen">Zvezdara</option>
                        <option data-tokens="kabinet lav stela">Vracar</option>
                        <option data-tokens="paulaner">Palilula</option>
                    </select>
                </div>
            </div>