
           <!-- <div class="col-md-4 col-md-push-4">
                <div class="btn-group btn-group-justified btn-lg small pubnav">
                    <div class="btn-group">
                        <a href="#" class="btn btn-default scrollpoint sp-effect6">
                            <span>Photos</span>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a href="#" class="btn btn-default scrollpoint sp-effect6">
                            <span>Beer</span>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a href="#" class="btn btn-default scrollpoint sp-effect6">
                            <span class="android"></span>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a href="#" class="btn btn-default scrollpoint sp-effect6">
                            <span class="windows"></span>
                        </a>
                    </div>
                </div>
            </div> -->
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default"><a href="#" class="btn btn-default scrollpoint sp-effect6">
                            <span>Photos</span>
                        </a></button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">Middle</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">Right</button>
                </div>
            </div>