@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
.backgroundCover, #slider, section#download, section#packages, section#subscribe, footer {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Open Sans", Tahoma, Arial;
}

#wrap{
  background: url(../img/beer-foam.gif);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  color: black;
}
header.masthead .bannercontainer {
  width: 100%;
  position: relative;
  padding: 0;
}
header.masthead .banner {
  width: 100%;
  position: relative;
}
header.masthead h1 {
  text-transform: uppercase;
  font-size: 55px;
  font-weight: bold;
}
header.masthead .tp-caption a {
  color: white;
}
header.masthead .tp-caption a:hover {
  color: #eeeeee;
}
header.masthead h1, header.masthead h2, header.masthead h3 {
  color: white;
}
header.masthead .mh-slider {
  position: absolute;
  bottom: 0;
  top: auto;
}
.masthead .wallpaper{
  background-image: url(https://origin-assets.the-sub.com/cdn/redesign/shared/image/header/header_cruzcampo.jpg);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  display: block;
}
.masthead .wall{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3e3b38;
  width: 100%;
  height: 450px;
  display: block;
}
.masthead .small{
  text-align: center;
  z-index: 2;
  width: 100%;
  -webkit-transform: none;
  transform: none;
  margin-top: -330px;
}

#slider {
  overflow: hidden;
  background-attachment: fixed;
  position: relative;
}
#slider:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url(../img/pattern.png) repeat;
}
#slider .container {
  position: relative;
}
#slider .container h1, #slider .container h3 {
  font-weight: 300;
  text-transform: capitalize;
}
#slider .container h1 span, #slider .container h3 span {
  font-weight: bold;
}
#slider .container h1 {
  color:  rgba(236, 72, 72, 0.95);
  margin-top: 10px;
}
#slider .container h3 {
  margin: 0;
}
#slider .container .btn.side {
  margin-top: 100px;
}
#slider .container #carousel-slider .carousel-inner .item img {
  margin: auto;
}
#slider .container #carousel-slider .carousel-control {
  background-image: none;
  width: inherit;
}
#slider .container #carousel-slider .carousel-control .slider-left, #slider .container #carousel-slider .carousel-control .slider-right {
  background: url(../img/slider.png) no-repeat;
  display: block;
  width: 89px;
  height: 67px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#slider .container #carousel-slider .carousel-control .slider-left {
  background-position: 0 0;
}
#slider .container #carousel-slider .carousel-control .slider-left:hover {
  background-position: -100px 0;
}
#slider .container #carousel-slider .carousel-control .slider-right {
  background-position: -200px 0;
}
#slider .container #carousel-slider .carousel-control .slider-right:hover {
  background-position: -300px 0;
}
#slider .container .btn-group .btn {
  background: none;
  border: none;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#slider .container .btn-group .btn span {
  background: url(../img/sprites.png) no-repeat;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#slider .container .btn-group .btn span.android {
  background-position: 0 -150px;
  width: 37px;
  height: 43px;
}
#slider .container .btn-group .btn span.apple {
  background-position: 0 -50px;
  width: 30px;
  height: 35px;
}
#slider .container .btn-group .btn span.play {
  background-position: 0 -250px;
  width: 31px;
  height: 33px;
}
#slider .container .btn-group .btn span.windows {
  background-position: 0 -350px;
  width: 32px;
  height: 38px;
}
#slider .container .btn-group .btn:hover {
  border: 1px solid white;
}
#slider .container .btn-group .btn:hover span.android {
  background-position: 0 -100px;
}
#slider .container .btn-group .btn:hover span.apple {
  background-position: 0 0;
}
#slider .container .btn-group .btn:hover span.play {
  background-position: 0 -200px;
}
#slider .container .btn-group .btn:hover span.windows {
  background-position: 0 -300px;
}
#slider .container .btn-group.small .btn {
  border: none !important;
}
#slider .container .btn-group.small .btn:hover {
  border: none !important;
}

#nav {
  width: 100%;
  position: relative;
  margin-bottom: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  min-height: 70px;
  border: none !important;
}
.affix{
  top: 0;
  width: 100%;
}
#nav.affix {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 99999;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#nav .navbar-brand img {
  margin-top: -5px;
  height:55px;
}
#nav.navbar-fixed-top {
  position: fixed;
  top: 0;
}
#nav .navbar-toggle {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 9px;
  color: grey;
}
#nav .navbar-toggle i {
  font-size: 2em;
}
#nav .navbar-nav li a {
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 24px;
  font-family: "Open Sans", Tahoma, Arial;
  color: gray;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#nav .navbar-nav li a:hover {
  color:  rgba(236, 72, 72, 0.95);
  background: none;
}
#nav .navbar-nav li.active a {
  color:  rgba(236, 72, 72, 0.95);
}
#nav .navbar-nav.social {
  margin-left: 15px;
}
#nav .navbar-nav.social li {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#nav .navbar-nav.social li a {
  padding: 25px 5px;
}
#nav .navbar-nav.social li a i {
  color: gray;
}
#nav .navbar-nav.social li:hover {
  background:  rgba(236, 72, 72, 0.95);
}
#nav .navbar-nav.social li:hover a i {
  color: white;
}

section {
  padding: 0 0 50px 0;
}
section#features {
  background:  rgba(236, 72, 72, 0.95);
}
section#features .feature {
  text-align: center;
  color: white;
}
section#features .feature .icon i {
  border: 1px solid white;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 15px;
  width: 2em;
  height: 2em;
  padding-top: 26px;
}
section#features .feature h4 {
  font-weight: 300;
  padding: 8px 0;
}
section#features .feature p {
  font-weight: 300;
  font-size: 15px;
}
section#features .carousel-indicators {
  position: relative;
  bottom: -30px !important;
}
section#features .carousel-indicators li {
  width: 15px;
  height: 15px;
  background: #a32a1e;
  border-color: #a32a1e;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin: 3px;
}
section#features .carousel-indicators li.active {
  width: 15px;
  margin: 3px;
  height: 15px;
  background: white;
  border-color: white;
}
section#download {
  color: white;
  position: relative;
}
section#download:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
section#download .container {
  position: relative;
  text-align: center;
  z-index: 9;
}
section#download .container h1 {
  font-weight: bold;
  padding: 50px;
  margin-top: 80px;
  font-size: 45px;
}
section#download .container h1 span {
  font-weight: 300;
}
section#download .container h4 {
  line-height: 35px;
  font-weight: 300;
}
section#download .container .btn-group {
  margin: 25px 0;
}
section#download .container .btn-group .btn {
  background: none;
  border: none;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
section#download .container .btn-group .btn span {
  background: url(../img/sprites.png) no-repeat;
  display: block;
  margin: 10px auto;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
section#download .container .btn-group .btn span.android {
  background-position: 0 -100px;
  width: 37px;
  height: 43px;
}
section#download .container .btn-group .btn span.apple {
  background-position: 0 0;
  width: 30px;
  height: 35px;
}
section#download .container .btn-group .btn span.play {
  background-position: 0 -200px;
  width: 31px;
  height: 33px;
}
section#download .container .btn-group .btn span.windows {
  background-position: 0 -300px;
  width: 32px;
  height: 38px;
}
section#download .container .btn-group .btn span.appstore {
  background-position: -50px 0;
  width: 202px;
  height: 48px;
}
section#download .container .btn-group .btn span.playstore {
  background-position: -50px -50px;
  width: 197px;
  height: 43px;
}
section#download .container .btn-group .btn span.micstore {
  background-position: -50px -100px;
  width: 228px;
  height: 56px;
}
section#download .container .btn-group .btn:hover {
  border: 1px solid white;
}
section#download .container .btn-group .btn:hover span.android {
  background-position: 0 -150px;
}
section#download .container .btn-group .btn:hover span.apple {
  background-position: 0 -50px;
}
section#download .container .btn-group .btn:hover span.play {
  background-position: 0 -250px;
}
section#download .container .btn-group .btn:hover span.windows {
  background-position: 0 -350px;
}
section#download .container .btn-group .btn:hover span.appstore {
  background-position: -300px 0;
}
section#download .container .btn-group .btn:hover span.playstore {
  background-position: -300px -50px;
}
section#download .container .btn-group .btn:hover span.micstore {
  background-position: -300px -100px;
}
section#download .container .btn-group.small .btn {
  border: none !important;
}
section#download .container .btn-group.small .btn:hover {
  border: none !important;
}
section#settings {
  color: white;
  background:  rgba(236, 72, 72, 0.95);
}
section#settings img {
  margin-left: 30px;
}
section#settings h2 {
  font-weight: bold;
  text-indent: 30px;
}
section#settings h2 span {
  font-weight: 300;
}
section#settings p {
  line-height: 25px;
  padding: 10px 0;
}
section#settings .first {
  text-indent: 30px;
}
section#settings .iphone-settings {
  bottom: -75px;
  position: relative;
}
section#screenshots {
  background: white;
}
section#screenshots .section-heading {
  color: #999999;
}
section#screenshots .section-heading h3 {
  color: #999999;
}
section#screenshots .section-heading h3 span {
  color: rgba(236, 72, 72, 0.95);
}
section#screenshots .section-heading .divider {
  background:  rgba(236, 72, 72, 0.95);
}
section#screenshots .section-heading p {
  color: #999999;
}
section#screenshots .owl-next, section#screenshots .owl-prev {
  text-align: center;
  display: block;
  margin-top: 70px;
  cursor: pointer;
}
section#screenshots .owl-next i, section#screenshots .owl-prev i {
  width: 50px;
  height: 50px;
  border: 1px solid #999999;
  color: #999999;
  border-radius: 50%;
  padding-top: 11px;
  padding-right: 5px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
section#screenshots .owl-next:hover i, section#screenshots .owl-prev:hover i {
  color:  rgba(236, 72, 72, 0.95);
  border-color:  rgba(236, 72, 72, 0.95);
}
section#screenshots .owl-next i {
  padding-right: inherit;
  padding-left: 5px;
}
section#screenshots .owl-carousel .owl-item {
  margin: 0 15px;
}

section#packages .section-heading h3 {
  color: whitesmoke;
}
section#packages .section-heading h3 span {
  color: #25a7b4;
}
section#packages .section-heading .divider {
  background: #25a7b4;
}
section#packages .section-heading p {
  color: #555555;
}
section#packages .pack {
  background: white;
  text-align: center;
  border: 7px solid white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin: 35px 25px;
}
section#packages .pack .heading {
  background:  rgba(236, 72, 72, 0.95);
  color: white;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  padding: 20px 15px;
}
section#packages .pack .heading h3 {
  text-transform: uppercase;
  font-weight: bold;
}
section#packages .pack .heading h5 {
  text-transform: lowercase;
}
section#packages .pack .details {
  background: none;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  padding-bottom: 20px;
}

section#packages .pack .details ul {
  list-style: none;
  padding: 5px 5px;
}
section#packages .pack .details ul li {
  padding: 10px 0;
  border-top: 1px solid #eeeeee;
  color: #999999;
}
section#packages .pack .details ul li:first-child {
  border: none;
}
section#packages .pack .details .btn-social {
  background: white;
  color:  rgba(236, 72, 72, 0.95);
  width: 85%;
  margin: 0 auto;
  border-width: 1px;
  opacity: 0;
}
section#packages .pack:hover {
  border-width: 1px;
  -webkit-transform: translatey(-30px);
  -moz-transform: translatey(-30px);
  -ms-transform: translatey(-30px);
  transform: translatey(-30px);
}
section#packages .pack:hover .heading {
  background: white;
  color:  rgba(236, 72, 72, 0.95);
}
section#packages .pack:hover .details {
  background:  rgba(236, 72, 72, 0.95);
  color: white;
}
section#packages .pack:hover .details ul li {
  border-color:  rgba(236, 72, 72, 0.95);
  color: white;
}
section#packages .pack:hover .details .btn-social {
  background:  rgba(236, 72, 72, 0.95);
  color: white;
  opacity: 1;
  -webkit-transform: translatey(45px);
  -moz-transform: translatey(45px);
  -ms-transform: translatey(45px);
  -o-transform: translatey(45px);
  transform: translatey(45px);
}
section#packages .img-square {
  width: 100%;
  height: 90%;
  border: 2px solid white;
}
section#packages .car-prev {

  text-align: center;
  display: block;
  margin-top: 60px;
  cursor: pointer;
}
section#packages .car-prev i {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  padding-top: 13px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
section#packages .car-prev:hover i {
  color: #eea79f;
  border-color: #eea79f;
}
section#testimonials {
  background: rgba(236, 72, 72,0.9);
  padding-top: 0;
  padding-bottom: 15px;
}
section#testimonials .carousel {
  top: -25px;
}
section#testimonials .carousel .carousel-inner .item .carousel-caption {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}
section#testimonials .carousel .carousel-inner .item img {
  width: 130px;
  margin: auto;
  border: 5px solid  rgba(236, 72, 72, 0.95);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
section#testimonials .carousel .carousel-inner h3 {
  text-shadow: none;
  font-weight: 300;
}
section#testimonials .carousel .carousel-inner h2 {
  font-size: 27px;
  font-weight: bold;
  text-shadow: none;
}
section#testimonials .carousel .carousel-indicators {
  position: relative;
  bottom: 0;
}
section#testimonials .carousel .carousel-indicators li {
  width: 18px;
  height: 18px;
  border-width: 2px;
  margin: 0;
}
section#testimonials .carousel .carousel-indicators li.active {
  width: 18px;
  height: 18px;
}
#team {
  background-image: url(../img/bk1.jpg);
  overflow: hidden;
  background-attachment: fixed;
  position: relative;
}
#team:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url(../img/pattern.png) repeat;
}
#team .container {
  position: relative;
}
#team .container h1, #slider .container h3 {
  font-weight: 300;
  font-weight: bold;
}
#team .container h1 span, #slider .container h3 span {
  font-weight: bold;
}
#team .container h1 {
  color:  rgba(236, 72, 72, 0.95);
  margin-top: 10px;
}
#team .container h3 {
  margin: 0;
}
section#team .car-next, section#team .car-prev {

  text-align: center;
  display: block;
  margin-top: 60px;
  cursor: pointer;
}
section#team .car-next i, section#team .car-prev i {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  padding-top: 11px;
  padding-right: 5px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
section#team .car-next:hover i, section#team .car-prev:hover i {
  color: #eea79f;
  border-color: #eea79f;
}
section#team .car-next i {
  padding-right: inherit;
  padding-left: 5px;
}
section#team .member {
  border: 1px solid white;
  color: white;
  padding: 20px;
  margin: 30px 0;
  margin-bottom: 120px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
section#team .member img {
  width: 150px;
  height: 135px;
  border: 2px solid white;
}
section#team .member .media .pull-left {
  margin-right: 20px;
}
section#team .member .media .media-heading {
  font-weight: bold;
  padding-top: 2px;
  font-size: 20px;
}
section#team .member .media .media-heading ul {
  padding: 0;
  list-style: none;
  display: inline;
  margin: 0;
  float: right;
}
section#team .member .media .media-heading ul li {
  float: left;
}
section#team .member .media .media-heading ul li a i {
  color: white;
  margin: 0 5px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
section#team .member .media .media-heading ul li a i:hover {
  color: #555555;
}
section#team .member .media p {
  font-weight: 300;
  margin: 0;
}
section#team .member .media span.divider {
  width: 40%;
  height: 1px;
  background: white;
  display: block;
  margin: 10px 0;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
section#team .member:hover {
  background: white;
  color: #555555;
}
section#team .member:hover .media-heading {
  color:  rgba(236, 72, 72, 0.95);
}
section#team .member:hover .media-heading ul li a i {
  color:  rgba(236, 72, 72, 0.95)
}
section#team .member:hover span.divider {
  background: #555555;
}
section#subscribe {
  background-image: url(../img/grey.jpg);
  position: relative;
  padding: 0;
  color: white;
}
section#subscribe:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  background-color: rgba(37, 167, 180, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8025A7B4,endColorstr=#8025A7B4);
  zoom: 1;
}
section#subscribe .newsletter-wrapper {
  padding: 50px 0;
}
section#subscribe h3 {
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}
section#subscribe h3 span {
  font-weight: bold;
}
section#subscribe span.divider {
  display: block;
  width: 30%;
  height: 1px;
  background: white;
  margin: 20px 0;
}
section#subscribe p {
  font-weight: 300;
  font-size: 15px;
}
section#subscribe .form-group {
  margin: 25px 0;
}
section#subscribe .form-group .form-control {
  height: 60px;
  padding-right: 97px;
  font-size: 20px;
  padding: 6px 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
section#subscribe .form-group .form-control-feedback {
  top: 13px;
  right: 20px;
  width: inherit;
  border: none;
  background: #25a7b4;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 0 15px;
  font-weight: bold;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
section#subscribe .form-group .form-control-feedback:hover {
  background: #1e8892;
}
section#subscribe img {
  margin-top: -65px;
}

section#sponsors {
  background: white;
}

footer {
  position: relative;
  padding: 5px 0;
  color: white;
}
footer:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #222;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8025A7B4,endColorstr=#8025A7B4);
  zoom: 1;
}
footer .spirat {
  padding: 0 0 0 15px;
}
footer form .form-control {
  padding: 20px 15px;
}
footer form .btn {
  padding: 8px 18px;
  background: #2e2e2e;
  color: white;
  border-color: #2e2e2e;
}
footer form .btn:hover {
  border-color: #3b3b3b;
  background: #3b3b3b;
  color: white;
}
footer .social {
  text-align: center;
  margin: 25px 0;
}
footer .social ul {
  padding: 0;
  list-style: none;
  display: inline-block;
  text-align: center;
}
footer .social ul li {
  margin: 0 1px;
  float: left;
}
footer .social ul li a {
  padding: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
}
footer .social ul li a i {
  color: white;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
footer .social ul li a:hover {
  background: white;
}
footer .social ul li a:hover i {
  color: #25a7b4;
}
footer .rights {
  color: white;
  font-weight: 300;
  text-align: center;
  font-size: 15px;
}
footer .rights span {
  font-weight: bold;
}
footer .rights a {
  color: white;
}

.btn:active, .btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  padding: 12px 18px;
  border: 2px solid white;
  margin-right: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn:hover {
  border: 2px solid white;
}

.btn.btn-default {
  background: white;
  color:  rgba(236, 72, 72, 0.95);
}
.btn.btn-default:hover {
  background: none;
  color: white;
}

.btn.btn-empty {
  background: none;
  color: white;
}
.btn.btn-empty:hover {
  background: white;
  color:  rgba(236, 72, 72, 0.95);
}

a {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.section-heading {
  text-align: center;
  padding: 40px;
  color: white;
}
.section-heading h1, .section-heading h2, .section-heading h3 {
  text-transform: uppercase;
  color: white;
}
.section-heading h4, .section-heading p {
  color: white;
  line-height: 22px;
}
.section-heading i {
  color: #d9d9d9;
}
.section-heading span {
  font-weight: bold;
}
.section-heading span.divider {
  position: relative;
  height: 2px;
  width: 15%;
  background: white;
  display: block;
  margin: 10px auto;
}

.scrollpoint {
  opacity: 0;
}
.scrollpoint.active {
  opacity: 1 \0;
}

.pre-loader {
  position: fixed;
  background: #ecf0f1;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  display: block;
}
.pre-loader .load-con {
  margin: 20% auto;
  position: relative;
  text-align: center;
}

.spinner {
  margin: 50px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #bdc3c7;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@media (max-width: 767px) {
  #nav .navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.row-centered{
  text-align:center;
}
.col-centered{
  float: none;
  margin: auto;
}
.btn-social ul {
  display: inline-flex;
  padding: 0;
  list-style: none;
  margin: 0;
}
.btn-social ul li {
  float: left;
}
.btn-social ul li a i {
  color: white;
  margin: 0 5px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.btn-social ul li a i:hover {
  color: #555555;
}
.btn-logIn{
  width: 33%;
  background-color:white;
  color: rgba(236, 72, 72, 0.95);
  font-size: 18px;
  margin: 20px 15px;
  border: 2px solid dimgray;
}
.hide{
  display: none;
}
.dropdown .btn-logIn{
  margin: 0;
}
.dropdown li a{
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px 0;
  transition: all 0.3s ease-out;
  border-bottom: 1px solid #e6e8ea;
}


/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.p-y-2 {
  padding-top: 10px;
  padding-bottom: 5px;
}
.p-y-3 {
}
.m-b-1 {
}
.m-t-1 {
  margin: 10px 15px 0 15px;
}


/*==========================================================
               counter section style
============================================================*/

.main_counter_area .main_counter_content_p .single_counter{
  display: table-cell;
  margin:4.5%;
  background-color: rgba(236, 72, 72, 0.6);
  width:120px;
  border-radius: 50%;
  vertical-align: middle;
  padding: 5px;

}
.main_counter_area .main_counter_content .single_counter{
  display: table-cell;
  margin:1.5%;
  background-color: rgba(236, 72, 72, 0.6);
  width:160px;
  border-radius: 50%;
  height:160px;
  vertical-align: middle;
}
.main_counter_area .main_counter_content .single_counter i{
  font-size:36px;
}

.single_counter:hover{
  background: rgba(236, 72, 72, 0.95);
  color: white;
  border-width: 1px;
  -webkit-transform: translatey(-5px);
  -moz-transform: translatey(-5px);
  -ms-transform: translatey(-5px);
  transform: translatey(-5px);
  transition: all 0.25s ease-in-out;

}
.main_counter_content a {
  color: #222;
}
.main_counter_content a:hover, a:active, a:visited, a:focus{
  text-decoration: none;
}

a:hover, a:active, a:visited, a:focus{
  text-decoration: none;
}

.tile {
  width: 100%;
  display: inline-flex;
  box-sizing: border-box;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.tile .title {
  padding: 5px;
}

.tile.b0 {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(81, 51, 171, 0.7));
}
.tile.b0:hover {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(81, 51, 171, 1));
}
.tile.b1 {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(172, 25, 61, 0.7));
}
.tile.b1:hover {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(172, 25, 61, 1));
}
.tile.b2 {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(0, 166, 0, 0.7));
}
.tile.b2:hover {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(0, 166, 0, 1));
}
.tile.b3 {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(38, 114, 236, 0.7));
}
.tile.b3:hover {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(38, 114, 236, 1));
}
.tile.b4 {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(220, 87, 46, 0.7));
}
.tile.b4:hover {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(220, 87, 46, 1));
}

.details {
  margin-left: 10px;
}
.beer-details{
  display: inline-grid;
  color: white;
}
.wallpaper{
  width: 100%;
}
.info{
  margin-top: 100px;
  margin-bottom: 0;
  background: transparent;
}
.info h4{
  color: #8d8d8d;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.profileImg{
  width: 95%;
  position: absolute;
  margin-top: -50px;
}
.profileImg>img{
  border:2px solid white;
}

@media (max-width: 767px) {
  #map {
    height: 300px;
  }
  .wallpaper {
    height: 300px;
  }
  .modal-dialog-fullscreen {
    opacity: 0.9;
    padding:10px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .modal-content-fullscreen {
    background: #000;
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
}

.modal-dialog-fullscreen {
  opacity: 0.9;

}
.modal-content-fullscreen .btn-social{
  display: inline-block;
  border: 1px solid #000;
  text-decoration: none;
  font-weight: 700;
  box-sizing: border-box;
  line-height: 1.7143em;
  padding: 11px 15px;
  text-align: center;
  border-radius: 24px;
}
.modal-content-fullscreen .modal-header{
  border: none !important;
}

.modal-content-fullscreen {
  background: #000;
  color:white;
  text-align: center;
  font-size: 18px;
}
.close{
  margin-top: -5px !important;
  font-size: 35px;
  color:whitesmoke;
  opacity:0.9;
}

@media (min-width: 767px) {
  #map {
    height: 500px;
  }
  .wallpaper {
    height: 400px;
  }

}

.info h2{
  font-size: 35px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.pubHeading i{
  color: grey;
  padding: 5px;
  margin-left: 5px;
}
.pubHeading i:hover{
  color: rgba(236, 72, 72, 0.7);
  -webkit-transform: translatey(-5px);
  -moz-transform: translatey(-5px);
  -ms-transform: translatey(-5px);
  transform: translatey(-5px);
  transition: all 0.25s ease-in-out;
}
.pubHeading i:visited, i:active{
  color: rgba(236, 72, 72, 0.7);
}

.divider {
  position: relative;
  height: 2px;
  width: 100%;
  background: gray;
  display: inline-block;
  margin: 5px auto;
}

.first , .second, .third{
  margin-top: 20px;
}

.imageSmall{
  width: 104px;
  height: 101px;
}

.registerfields input{
  height: 45px;
  display: inline-block;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  box-sizing: border-box;
  line-height: 1.7143em;
  padding: 11px 15px;
  text-align: center;
  border-radius: 24px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(236, 72, 72, 0.7);
  border-width: 3px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(236, 72, 72, 0.7);;
  outline: 0 none;
}

.form-control{
  border: none;
  margin: 10px auto;
}

.dropdown-menu{
  background: #222 ;
  width:100%;
  min-width: 100%;

}
.dropdown-menu>li>a{
  padding: 10px !important;
  border:none;
}

.dropdown-menu>li>a:hover{
  color: white !important;
}

hr{
  margin: 0 35px 0 15px;
  border-color: grey;
}

.wallpaper .swiper-container-image {
  width: 100%;
  padding-top: 75px;
  background: black;
  z-index: 0 !important;
  overflow: hidden;
}
.wallpaper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 700px !important;
}
.swiper-container,
.swiper-container-beers,
.swiper-container-pubs
{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}
.swiper-image{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 360px;
  position: relative;
  top: auto;
  left: auto;
  display: block;
}
.swiper-container-image{

  overflow: hidden;
}
.swiper-container-beers .swiper-slide{
  width: 400px;
  border-radius: 20px;
  text-align: center;
  list-style: none;

}
.swiper-container-pubs .swiper-slide{
  width: 380px;
  list-style: none;
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right{
  background: none !important;
}

.counter .single_counter{
  color: #222;
}
.counter .single_counter:hover{
  color: white;
}
.counter-info>h4,
.counter-info>p{
  margin: 0!important;
  font-size: 17px;
}

.search-form{
  margin-top: 75px;
  margin-bottom: 75px;
}
.search-form input{
  width: 100% !important;
  max-width: 500px;
  background: url(../img/search-icon.png) no-repeat scroll 7px 7px;
  height: 40px;
  background-color: rgba(236, 72, 72, 0.6);
}
.search-form input::-webkit-input-placeholder{
  color: #222;
}
.search-form .btn-search{
  width: 150px;
}
.element-item{
  padding-top: 10px;
  padding-left: 0 !important;
  padding-right: 15px !important;
}
.b0{
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(81, 51, 171, 0.35));
  border-top: 3px solid #5133ab;
  border-top-right-radius: 130px;
}
.b1{
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(172, 25, 61, 0.35));
  border-top: 3px solid #ac193d;
  border-top-right-radius: 130px;
}
.b2{
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(0, 166, 0, 0.35));
  border-top: 3px solid #00a600;
  border-top-right-radius: 130px;
}
.b3{
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(38, 114, 236, 0.35));
  border-top: 3px solid #2672ec;
  border-top-right-radius: 130px;
}
.b4{
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(220, 87, 46, 0.35));
  border-top: 3px solid #dc572e;
  border-top-right-radius: 130px;
}
.element-item .media{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.element-item .details{
  color: white;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  text-align: left;
}

.element-item img {
  float: left;
  width: 200px;
}


/**test**/
.feature-product{
  z-index: 2;
  width: 100%;
  left: 0;
  -webkit-transform: none;
  transform: none;
  padding-top: 60px;
  position: absolute;
  top: auto;
  margin-bottom: 25px;
}
.headlines h1{
  font: normal 42px/1.1 "Futura Bold", Arial, sans-serif;
  display: block;
  margin: 0;
  margin-bottom: 15px;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .feature-product .feature-product-image {
    width: 100%;
    margin-top: 100px;
    text-align: center;
  }

  .feature-product .feature-product-image .beer-product-image {
    width: 100%;
    height: 100%;
    display: block;

  }
  .feature-product .feature-product-image .beer-product-image img {
    width: 220px;
    height: auto;
    border: 5px solid grey;
    border-radius: 20px;
  }
  .beer .feature-product-image {
    width: 100%;
    margin-top: 30px;
    position: relative;
  }
  .beer .feature-product-image .beer-product-image img {
    width: 260px;
  }
  #beer-list img {
   width: 180px;
  }
  .element-item img{
    float: left;
    width: 160px;
  }
}
@media (min-width: 767px) {
  .feature-product .feature-product-image {
    width: 100%;
    max-width: 220px;
    float: left;
    margin: 0 auto;
    position: relative;
    margin-top: 45px;
  }

  .feature-product .feature-product-image .beer-product-image {
    width: 100%;
    height: 100%;
    display: block;
  }
  .feature-product .feature-product-image .beer-product-image img {
    width: 100%;
    height: auto;
    border: 5px solid black;
    border-radius: 20px;
  }
  .beer .feature-product-image {
    width: 100%;
    max-width: 280px;
    float: left;
    margin: 0 auto;
    position: relative;
  }
}

.beer .feature-product-image .beer-product-image img {
  border: none !important;
}
.beer .feature-product-image .beer-product-image {
  transform: none !important;
}

.feature-product .feature-product-info {
  float: right;
  margin-top: 80px;
}
.feature-product .feature-product-info .description {
  text-align: center;
  min-height: initial;
}

.hero-header-visual {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3e3b38;
  width: 100%;
  height: 360px;
  position: relative;
  top: auto;
  left: auto;
  display: block;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header{
  max-height: 500px;
}
.btn-search{
  width: 100%;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  box-sizing: border-box;
  line-height: 1.7143em;
  text-align: center;
  border-radius: 24px;
  color: white;
  margin-bottom: 5px;
  background-color: rgba(236, 72, 72, 0.6);
  border: none;
}
