{% extends '::base.html.twig' %}

{% block body %}
    {% include 'AppBundle:Partial:preloader.html.twig' %}
    <!-- Wrap all page content here -->
    <div id="wrap">
        {% include 'AppBundle:Partial:navbar.html.twig' %}
        <header class="masthead">
            <div class="header">
                <div class="swiper-container-image">
                    <div class="feature-product beer">
                        <div class="container">
                            <div class="headlines">
                                <h1 class="multiline-headline multiline-headline-02 white-color">
                                    {{ beer.name }}</h1>
                                <h3>Something about beer
                                </h3>
                            </div>
                            <div class="feature-product-image" id="featureBrandProductImage">
                                <a class="beer-product-image" data-track-product-impression="impression" data-track-impression-list="Category hero slots" data-track-product-category="TORP" data-track-product-name="Heineken TORP" data-track-product-id="heineken torp" data-track-product-position="1" data-track-product-price="7.49" data-track-product-brand="Heineken" href="/heineken-torp.html">
                                    <img src="https://origin-assets.the-sub.com/cdn/redesign/shared/image/product/torp-heineken.png" title="Heineken TORP" alt="Heineken TORP">
                                </a>
                            </div>
                            <div class="feature-product-info" id="featureProductInfo" data-track-product-impression="impression" data-track-impression-list="Category hero slots" data-track-product-category="TORP" data-track-product-name="Heineken TORP" data-track-product-id="heineken torp" data-track-product-position="1" data-track-product-price="7.49" data-track-product-brand="Heineken">
                                {% include 'AppBundle:Partial:ppcounter.html.twig'  with {'pub':5,'pubs': 10 , 'numI': 2, 'numB':5 } %}
                                <div class="description">
                                    <p>Born in Amsterdam, Raised by the World</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-wrapper swiper-image">
                            <div class="swiper-slide">
                                <img class="wallpaper"/>
                            </div>
                    </div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </header>
            {% include 'AppBundle:Modal:mapmodal.html.twig' %}
            {% include 'AppBundle:Partial:mobileNav.html.twig' %}
            <section id="packages">
                <div class="container">
                    <div class="about">
                        <div class="row about-text">
                            <div class="col-md-12 clearfix">
                                <h4>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row hidden first">
                        {% include 'AppBundle:Partial:publist.html.twig' with {'pubslist': pubslist} %}
                    </div>
                    <div class="row hidden second">
                    </div>
                    <div class="row hidden third">
                    </div>
                </div>
            </section>
        {% include 'AppBundle:Partial:footer.html.twig' %}
    </div>
{% endblock %}